* {
    margin: 0;
    padding: 0;    
    /* border: 2px solid black; */
}

html {
    font-size: 16px;
    height: 100%;
    width: 100%;
    /* overflow: hidden; */

}

body {
    height: 100%;
    width: 100%;
    overflow: hidden;
    font-family: Arial, sans-serif;
    /* background-color: #f9f9f9; */

}

nav {
    width: 100%;
    height: 10%;

    
    display: flex;
    justify-content: center;  /* horizontal */
}

ul#nav-items>li {
  display: inline-block;
}

img#home_icon {
    height: 100%;
    width: auto; 
}

div {
    width: 100%;
    text-align: center;
}



#taskList {
  font-size: 3rem;   /* make it bigger */
  font-weight: bold; /* bold text */
  text-decoration: none; /* remove underline if you want */
}

ul {
    list-style-type: none;
}

#clock-weather {
    text-align: center;
    width: 100%;
    border-bottom:  2px solid black;
}

#clock {
    display: inline-block;
    width: 44%;
    font-size: 6rem; /* Size of the clock */
    vertical-align: middle;
}

#current-temperature {
    display: inline-block;
    font-size: 2rem;
    text-align: center;
    width: 26%;
    vertical-align: middle; 
}

#current-wind-speed {
    display: inline-block;
    font-size: 2rem;
    text-align: center;
    width: 26%;
    vertical-align: middle; 
}


#moon-phase {
    text-align: center;
    /* border-bottom:  2px solid black; */
}


img.moon{
    display: inline-block;
    width: 25%;
    /* height: 100px; */
    vertical-align: middle;  /* or top, bottom, text-top, text-bottom, baseline */
}

.moonTime {
    font-size: 3rem;
    display: inline-block;
    text-align: center;
    width: 34%;
    vertical-align: middle; 
}

.moonLabel {
    display: inline-block;
    padding-right: 1rem;
    margin-bottom: 0.5rem;
    font-size: 2rem;
}

#forecast {
    text-align: center;
}

#forecast table {
    display: inline-table; /* make table behave like inline for centering */
    width: 100%;
    border-collapse: collapse;
    border: 2px solid black;
}

#forecast table th{
    font-size: 1.2rem;
    border: 1px solid #000;   /* all cell borders */
    border-spacing: 0;         /* remove gaps */
    padding: 4px 6px;
}

#forecast table td{
    font-size: 1.2rem;
    border: 1px solid #000;   /* all cell borders */
    border-spacing: 0;         /* remove gaps */
    padding: 4px 6px;
}

.weather-icon {
    /* height: 10%; */
    width: 2rem;
    /* height: 14%; */
}



/* ul {

    list-style-type: none;
    padding: 0;
    margin: 0;
    margin-top: 15px;
    margin-left: 5px;
}

li {
    margin-bottom: 5px;
    font-size: 40px;
    margin: 0;
    margin-bottom: 5px;
} */

/* input {
    height: 30px;
    width: 30px;
    margin-right: 15px;
    padding: 30px;
    border-style: solid;
    border-color: black;
    border-width: 1px;    
}
label {
    margin-left: 0;
}

button {
    
    text-align: center;
    float: right;
    padding: 10px;
    margin: 15px;
    display: block;

} */

